*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins, sans-serif;
}

/* Body */
body{
  height:100vh;
  background:#000;
  color:#fff;
}

/* Splash Screen */
#splash{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

/* Purple Circular Loader */
.loader{
  width:70px;
  height:70px;
  border:6px solid rgba(138, 43, 226, 0.2);
  border-top:6px solid #8a2be2;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

/* Main Container */
.container{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Card */
.card{
  width:90%;
  max-width:380px;
  padding:35px 25px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  border-radius:22px;
  text-align:center;
  box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

/* Icon */
.icon{
  width:70px;
  height:70px;
  background:#8a2be2;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto 20px;
  font-size:30px;
}

/* Text */
h1{
  font-size:26px;
  margin-bottom:15px;
}

p{
  font-size:14px;
  color:#ccc;
  line-height:1.6;
}

/* Dots */
.dots{
  margin:20px 0;
}

.dots span{
  width:10px;
  height:10px;
  background:#8a2be2;
  border-radius:50%;
  display:inline-block;
  margin:0 5px;
  animation:blink 1.5s infinite;
}

.dots span:nth-child(2){animation-delay:.3s}
.dots span:nth-child(3){animation-delay:.6s}

/* Thanks */
.thanks{
  font-size:14px;
  color:#bbb;
}

/* Animations */
@keyframes spin{
  to{transform:rotate(360deg)}
}

@keyframes blink{
  0%,80%,100%{opacity:.3}
  40%{opacity:1}
}
